@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';




.user-activiy
{
    max-height: 280px;
    overflow-y: auto;
}

.user-suspensions
{
    max-height: 280px;
    overflow-y: auto;
}
